.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.resposnProfilTabl {
  border-radius: 25px;
  width: 130px;
  height: 130px;
}

.responsheghtprofil {
  height: 316px;
}
